In [1]:
import os
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OrdinalEncoder

import tensorflow as tf
from tensorflow import keras
from keras import layers
from keras.layers import SimpleRNN, LSTM, Dense
from keras.layers import Dropout
from keras.layers import Reshape
from keras.models import Model
from keras.optimizers import Adam
from keras.layers import BatchNormalization

import warnings
warnings.filterwarnings('ignore')

In [2]:
oil = pd.read_csv((r'C:\Users\sahithi aharam\Downloads\oil.csv'),index_col='date')
holidays_events= pd.read_csv((r'C:\Users\sahithi aharam\Downloads\holidays_events.csv'),index_col='date')
stores= pd.read_csv(r'C:\Users\sahithi aharam\Downloads\stores.csv')

transactions = pd.read_csv(r'C:\Users\sahithi aharam\Downloads\transactions.csv\transactions.csv')
#df_submission = pd.read_csv(r'C:\Users\sahithi aharam\Downloads\sample_submission.csv')

train = pd.read_csv((r'C:\Users\sahithi aharam\Downloads\train(1).csv\train.csv'),index_col='id',parse_dates=['date'], infer_datetime_format=True)
test = pd.read_csv((r'C:\Users\sahithi aharam\Downloads\test (1).csv'),parse_dates=['date'], infer_datetime_format=True)

# Data preprocessing

In [3]:
train["family"].nunique(dropna = True)

33

In [4]:
#dropping unused columns
train_data = train.copy().drop(['onpromotion'], axis=1)
test_data = test.copy().drop(['onpromotion'], axis=1)

In [5]:
##applying the encoders, the data showed that there are ~33 unique elements
ordinal_encoder = OrdinalEncoder(dtype=int)
train_data[['family']] = ordinal_encoder.fit_transform(train_data[['family']])
test_data[['family']] = ordinal_encoder.transform(test_data[['family']])

In [6]:
##counting the number of days
n_o_days_train=train["date"].nunique(dropna = False) 
print('number of day train:',n_o_days_train)

# number of store
n_o_stores_train=train["store_nbr"].nunique(dropna = False) 
print('number of stores train:',n_o_stores_train)

# number of family
n_o_families_train=train["family"].nunique(dropna = False) 
print('number of family/type of prod train:',n_o_families_train)

number of day train: 1684
number of stores train: 54
number of family/type of prod train: 33

In [7]:
##counting the number of days
n_o_days_test=test["date"].nunique(dropna = False) 
print('number of day test:',n_o_days_test)

# number of store
n_o_stores_test=test["store_nbr"].nunique(dropna = False) 
print('number of stores test:',n_o_stores_test)

# number of family
n_o_families_test=test["family"].nunique(dropna = False) 
print('number of family/type of prod test:',n_o_families_test)

number of day test: 16
number of stores test: 54
number of family/type of prod test: 33

In [8]:
pivoted_train = train_data.pivot(index=['date'], columns=['store_nbr', 'family'], values='sales')
pivoted_train

store_nbr     1                                                         \
family       0    1    2       3    4          5     6       7      8
date
2013-01-01  0.0  0.0  0.0     0.0  0.0    0.00000   0.0     0.0    0.0
2013-01-02  2.0  0.0  2.0  1091.0  0.0  470.65200   0.0  1060.0  579.0
2013-01-03  3.0  0.0  0.0   919.0  0.0  310.65500   0.0   836.0  453.0
2013-01-04  3.0  0.0  3.0   953.0  0.0  198.36600   0.0   827.0  460.0
2013-01-05  5.0  0.0  3.0  1160.0  0.0  301.05700   0.0   811.0  464.0
...         ...  ...  ...     ...  ...        ...   ...     ...    ...
2017-08-11  1.0  0.0  1.0  1006.0  0.0  145.60700   4.0   341.0  343.0
2017-08-12  6.0  0.0  3.0  1659.0  0.0  243.22000   3.0   351.0  526.0
2017-08-13  1.0  0.0  1.0   803.0  0.0  136.67900   1.0   169.0  266.0
2017-08-14  1.0  0.0  6.0  2201.0  0.0  346.03800   4.0   571.0  699.0
2017-08-15  4.0  0.0  4.0  1942.0  0.0  329.54102  21.0   703.0  602.0

store_nbr            ...     9                                       \
family           9   ...    23       24     25    26    27       28
date                 ...
2013-01-01    0.000  ...   0.0    0.000    0.0   0.0   0.0    0.000
2013-01-02  164.069  ...   0.0  374.531  482.0   0.0   0.0  651.292
2013-01-03  151.582  ...   0.0  400.863  372.0   0.0   0.0  509.496
2013-01-04  131.411  ...   0.0  310.878  324.0   0.0   0.0  332.672
2013-01-05  118.613  ...   0.0  447.685  461.0   0.0   0.0  510.919
...             ...  ...   ...      ...    ...   ...   ...      ...
2017-08-11   64.302  ...   5.0  309.245  373.0  11.0   2.0  525.224
2017-08-12   99.488  ...   2.0  260.298  400.0   7.0  10.0  383.387
2017-08-13   47.770  ...   3.0  327.206  510.0   2.0   9.0  412.458
2017-08-14  154.578  ...  12.0  330.975  445.0   2.0  14.0  283.429
2017-08-15  116.402  ...  11.0  449.228  522.0   6.0   6.0  438.133

store_nbr
family             29        30     31         32
date
2013-01-01    0.00000     0.000    0.0   0.000000
2013-01-02   83.00000     0.000    0.0  29.214000
2013-01-03   66.00000     0.000    0.0  25.000000
2013-01-04   57.00000     0.000    0.0  11.000000
2013-01-05   84.00000     0.000    0.0  28.361000
...               ...       ...    ...        ...
2017-08-11  112.10000  1453.078  140.0  23.831000
2017-08-12  129.90399  1419.264  138.0  16.859001
2017-08-13  105.16900  1693.607  200.0  20.000000
2017-08-14  114.12000  1348.425  182.0  17.000000
2017-08-15  154.55300  2419.729  121.0  16.000000

[1684 rows x 1782 columns]

In [9]:
train_samples = int(n_o_days_train * 0.95)

In [10]:
train_samples_df = pivoted_train[:train_samples]
train_samples_df

store_nbr     1                                                                \
family       0    1    2       3    4        5     6       7      8        9
date
2013-01-01  0.0  0.0  0.0     0.0  0.0    0.000   0.0     0.0    0.0    0.000
2013-01-02  2.0  0.0  2.0  1091.0  0.0  470.652   0.0  1060.0  579.0  164.069
2013-01-03  3.0  0.0  0.0   919.0  0.0  310.655   0.0   836.0  453.0  151.582
2013-01-04  3.0  0.0  3.0   953.0  0.0  198.366   0.0   827.0  460.0  131.411
2013-01-05  5.0  0.0  3.0  1160.0  0.0  301.057   0.0   811.0  464.0  118.613
...         ...  ...  ...     ...  ...      ...   ...     ...    ...      ...
2017-05-18  4.0  0.0  2.0  2154.0  0.0  350.502  12.0   669.0  718.0  132.686
2017-05-19  5.0  0.0  4.0  2743.0  0.0  481.324  24.0   826.0  957.0  177.191
2017-05-20  4.0  0.0  3.0  2379.0  0.0  392.965   7.0   588.0  795.0  140.261
2017-05-21  1.0  0.0  1.0   974.0  0.0  161.529   1.0   243.0  337.0   75.683
2017-05-22  2.0  0.0  5.0  2620.0  1.0  418.029  16.0   712.0  754.0  129.027

store_nbr   ...    9                                                       \
family      ...   23         24     25    26    27         28          29
date        ...
2013-01-01  ...  0.0    0.00000    0.0   0.0   0.0    0.00000    0.000000
2013-01-02  ...  0.0  374.53100  482.0   0.0   0.0  651.29200   83.000000
2013-01-03  ...  0.0  400.86300  372.0   0.0   0.0  509.49600   66.000000
2013-01-04  ...  0.0  310.87800  324.0   0.0   0.0  332.67200   57.000000
2013-01-05  ...  0.0  447.68500  461.0   0.0   0.0  510.91900   84.000000
...         ...  ...        ...    ...   ...   ...        ...         ...
2017-05-18  ...  4.0  541.15700  344.0  19.0  12.0  313.56600   73.060000
2017-05-19  ...  2.0  264.74400  268.0   6.0   8.0  477.29602   79.421000
2017-05-20  ...  5.0  373.00400  569.0  10.0  12.0  503.79500  151.274000
2017-05-21  ...  2.0  492.31302  636.0  10.0  18.0  688.77600  149.067000
2017-05-22  ...  4.0  319.78200  345.0   8.0   9.0  321.63200  111.423004

store_nbr
family             30   31         32
date
2013-01-01     0.0000  0.0   0.000000
2013-01-02     0.0000  0.0  29.214000
2013-01-03     0.0000  0.0  25.000000
2013-01-04     0.0000  0.0  11.000000
2013-01-05     0.0000  0.0  28.361000
...               ...  ...        ...
2017-05-18  1262.8600  7.0  12.544001
2017-05-19  1149.9869  2.0   9.238000
2017-05-20  2008.8520  3.0  27.380001
2017-05-21  2424.7440  7.0  39.710000
2017-05-22  1413.0350  2.0  19.097000

[1599 rows x 1782 columns]

In [11]:
valid_samples_df = pivoted_train[train_samples:]
valid_samples_df

store_nbr     1                                                        \
family       0    1    2       3    4          5     6      7      8
date
2017-05-23  4.0  0.0  1.0  2365.0  1.0  413.15200   8.0  822.0  736.0
2017-05-24  7.0  0.0  1.0  2611.0  1.0  349.68100  11.0  944.0  867.0
2017-05-25  2.0  0.0  1.0  2229.0  0.0  372.38500  18.0  706.0  723.0
2017-05-26  1.0  0.0  0.0  1100.0  0.0  190.73300   7.0  303.0  375.0
2017-05-27  1.0  0.0  2.0  2270.0  0.0  300.78600  10.0  462.0  634.0
...         ...  ...  ...     ...  ...        ...   ...    ...    ...
2017-08-11  1.0  0.0  1.0  1006.0  0.0  145.60700   4.0  341.0  343.0
2017-08-12  6.0  0.0  3.0  1659.0  0.0  243.22000   3.0  351.0  526.0
2017-08-13  1.0  0.0  1.0   803.0  0.0  136.67900   1.0  169.0  266.0
2017-08-14  1.0  0.0  6.0  2201.0  0.0  346.03800   4.0  571.0  699.0
2017-08-15  4.0  0.0  4.0  1942.0  0.0  329.54102  21.0  703.0  602.0

store_nbr            ...     9                                         \
family           9   ...    23       24     25    26    27         28
date                 ...
2017-05-23  127.909  ...   1.0  284.679  340.0   5.0  12.0  328.32900
2017-05-24  166.068  ...   1.0  318.254  292.0   6.0  12.0  360.76498
2017-05-25  122.562  ...   1.0  415.299  260.0   7.0  10.0  261.97600
2017-05-26   82.697  ...   5.0  378.795  382.0   9.0   9.0  533.20300
2017-05-27   99.587  ...   3.0  412.021  455.0   8.0  11.0  541.38000
...             ...  ...   ...      ...    ...   ...   ...        ...
2017-08-11   64.302  ...   5.0  309.245  373.0  11.0   2.0  525.22400
2017-08-12   99.488  ...   2.0  260.298  400.0   7.0  10.0  383.38700
2017-08-13   47.770  ...   3.0  327.206  510.0   2.0   9.0  412.45800
2017-08-14  154.578  ...  12.0  330.975  445.0   2.0  14.0  283.42900
2017-08-15  116.402  ...  11.0  449.228  522.0   6.0   6.0  438.13300

store_nbr
family             29         30     31         32
date
2017-05-23  127.40600  2268.3320    1.0  16.063000
2017-05-24  104.61800  1180.0780    2.0  18.163000
2017-05-25  110.95700   920.1430    5.0   2.994000
2017-05-26  169.91900  1515.1750   13.0  20.683000
2017-05-27  134.74800  1634.6849    5.0  43.512000
...               ...        ...    ...        ...
2017-08-11  112.10000  1453.0780  140.0  23.831000
2017-08-12  129.90399  1419.2640  138.0  16.859001
2017-08-13  105.16900  1693.6070  200.0  20.000000
2017-08-14  114.12000  1348.4250  182.0  17.000000
2017-08-15  154.55300  2419.7290  121.0  16.000000

[85 rows x 1782 columns]

In [12]:
minmax_scaler = MinMaxScaler()
minmax_scaler.fit(train_samples_df)

scaled_train_samples = minmax_scaler.transform(train_samples_df)
scaled_validation_samples = minmax_scaler.transform(valid_samples_df)

In [13]:
def split_series(series, n_past, n_future):
  X, y = list(), list()
  for window_start in range(len(series)):
    past_end = window_start + n_past
    future_end = past_end + n_future
    if future_end > len(series):
      break
    # slicing the past and future parts of the window
    past, future = series[window_start:past_end, :], series[past_end:future_end, :]
    X.append(past)
    y.append(future)
  return np.array(X), np.array(y)

n_past =4
n_future = 4
n_features = n_o_stores_train * n_o_families_train # num of features

In [14]:
X_train, y_train = split_series(scaled_train_samples,n_past, n_future)
X_val, y_val = split_series(scaled_validation_samples,n_past, n_future)

# Model

In [15]:
from keras.regularizers import l1, l2
def timemodel():
    model = keras.Sequential()
### basic RNN model
    model.add(layers.SimpleRNN(units=200, return_sequences=True, input_shape=(n_past,n_features),kernel_regularizer=l1(0.01)))
    model.add(keras.layers.BatchNormalization())
    model.add(Dropout(0.3))
    model.add(layers.SimpleRNN(units=200, return_sequences=True,kernel_regularizer=l2(0.001)))
    model.add(keras.layers.BatchNormalization())
    model.add(Dropout(0.2))
    model.add(keras.layers.TimeDistributed(keras.layers.Dense(n_features)))
    
    
    model.compile(loss="mae", optimizer=keras.optimizers.Adam(learning_rate=0.001), metrics=['mae'])
    return model

In [16]:
model=timemodel()
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 simple_rnn (SimpleRNN)      (None, 4, 200)            396600

 batch_normalization (BatchN  (None, 4, 200)           800
 ormalization)

 dropout (Dropout)           (None, 4, 200)            0

 simple_rnn_1 (SimpleRNN)    (None, 4, 200)            80200

 batch_normalization_1 (Batc  (None, 4, 200)           800
 hNormalization)

 dropout_1 (Dropout)         (None, 4, 200)            0

 time_distributed (TimeDistr  (None, 4, 1782)          358182
 ibuted)

=================================================================
Total params: 836,582
Trainable params: 835,782
Non-trainable params: 800
_________________________________________________________________

In [17]:

early_stopping = keras.callbacks.EarlyStopping(monitor = 'val_mae',
                                               min_delta=0.001,
                                               patience=100, 
                                               restore_best_weights=True)

EPOCHS = 100
model_history = model.fit(
    X_train, y_train,
    validation_data=(X_val, y_val), 
    epochs=EPOCHS, 
    callbacks=[early_stopping], 
    batch_size=256, 
    shuffle=True)

Epoch 1/100
7/7 [==============================] - 10s 407ms/step - loss: 89.7375 - mae: 0.3956 - val_loss: 75.4540 - val_mae: 0.2293
Epoch 2/100
7/7 [==============================] - 1s 124ms/step - loss: 67.8819 - mae: 0.2945 - val_loss: 55.7987 - val_mae: 0.2210
Epoch 3/100
7/7 [==============================] - 1s 101ms/step - loss: 49.4016 - mae: 0.2532 - val_loss: 39.3258 - val_mae: 0.2115
Epoch 4/100
7/7 [==============================] - 1s 107ms/step - loss: 34.0599 - mae: 0.2291 - val_loss: 25.9081 - val_mae: 0.1991
Epoch 5/100
7/7 [==============================] - 1s 115ms/step - loss: 21.7927 - mae: 0.2098 - val_loss: 15.5643 - val_mae: 0.1857
Epoch 6/100
7/7 [==============================] - 1s 112ms/step - loss: 12.6031 - mae: 0.1916 - val_loss: 8.3424 - val_mae: 0.1723
Epoch 7/100
7/7 [==============================] - 1s 130ms/step - loss: 6.5261 - mae: 0.1718 - val_loss: 4.1473 - val_mae: 0.1511
Epoch 8/100
7/7 [==============================] - 1s 110ms/step - loss: 3.5207 - mae: 0.1528 - val_loss: 3.0456 - val_mae: 0.1263
Epoch 9/100
7/7 [==============================] - 1s 96ms/step - loss: 2.7676 - mae: 0.1361 - val_loss: 2.0642 - val_mae: 0.1241
Epoch 10/100
7/7 [==============================] - 1s 95ms/step - loss: 1.7056 - mae: 0.1244 - val_loss: 1.3583 - val_mae: 0.1141
Epoch 11/100
7/7 [==============================] - 1s 102ms/step - loss: 1.2717 - mae: 0.1186 - val_loss: 1.0108 - val_mae: 0.1046
Epoch 12/100
7/7 [==============================] - 1s 137ms/step - loss: 0.9484 - mae: 0.1122 - val_loss: 0.8486 - val_mae: 0.1142
Epoch 13/100
7/7 [==============================] - 1s 135ms/step - loss: 0.7882 - mae: 0.1072 - val_loss: 0.7223 - val_mae: 0.1074
Epoch 14/100
7/7 [==============================] - 1s 150ms/step - loss: 0.6883 - mae: 0.1019 - val_loss: 0.8226 - val_mae: 0.0967
Epoch 15/100
7/7 [==============================] - 1s 169ms/step - loss: 0.7684 - mae: 0.1007 - val_loss: 0.6984 - val_mae: 0.1051
Epoch 16/100
7/7 [==============================] - 1s 167ms/step - loss: 0.6863 - mae: 0.1029 - val_loss: 0.6389 - val_mae: 0.0940
Epoch 17/100
7/7 [==============================] - 1s 142ms/step - loss: 0.6242 - mae: 0.0947 - val_loss: 0.6421 - val_mae: 0.1005
Epoch 18/100
7/7 [==============================] - 1s 103ms/step - loss: 0.6153 - mae: 0.0936 - val_loss: 0.6019 - val_mae: 0.0988
Epoch 19/100
7/7 [==============================] - 1s 106ms/step - loss: 0.6106 - mae: 0.0905 - val_loss: 0.6193 - val_mae: 0.1000
Epoch 20/100
7/7 [==============================] - 1s 154ms/step - loss: 0.5938 - mae: 0.0872 - val_loss: 0.6268 - val_mae: 0.1148
Epoch 21/100
7/7 [==============================] - 1s 123ms/step - loss: 0.6184 - mae: 0.0964 - val_loss: 0.6255 - val_mae: 0.0983
Epoch 22/100
7/7 [==============================] - 1s 113ms/step - loss: 0.5962 - mae: 0.0922 - val_loss: 0.5908 - val_mae: 0.0990
Epoch 23/100
7/7 [==============================] - 1s 115ms/step - loss: 0.5706 - mae: 0.0879 - val_loss: 0.5689 - val_mae: 0.0965
Epoch 24/100
7/7 [==============================] - 1s 103ms/step - loss: 0.5740 - mae: 0.0871 - val_loss: 0.5746 - val_mae: 0.1061
Epoch 25/100
7/7 [==============================] - 1s 104ms/step - loss: 0.5665 - mae: 0.0854 - val_loss: 0.5686 - val_mae: 0.1006
Epoch 26/100
7/7 [==============================] - 1s 117ms/step - loss: 0.5544 - mae: 0.0836 - val_loss: 0.5669 - val_mae: 0.0991
Epoch 27/100
7/7 [==============================] - 1s 99ms/step - loss: 0.5413 - mae: 0.0810 - val_loss: 0.5568 - val_mae: 0.0980
Epoch 28/100
7/7 [==============================] - 1s 106ms/step - loss: 0.5438 - mae: 0.0809 - val_loss: 0.5638 - val_mae: 0.1063
Epoch 29/100
7/7 [==============================] - 1s 112ms/step - loss: 0.5322 - mae: 0.0772 - val_loss: 0.5521 - val_mae: 0.1038
Epoch 30/100
7/7 [==============================] - 1s 112ms/step - loss: 0.5207 - mae: 0.0751 - val_loss: 0.5532 - val_mae: 0.1095
Epoch 31/100
7/7 [==============================] - 1s 99ms/step - loss: 0.5198 - mae: 0.0742 - val_loss: 0.5555 - val_mae: 0.1076
Epoch 32/100
7/7 [==============================] - 1s 107ms/step - loss: 0.5204 - mae: 0.0735 - val_loss: 0.5560 - val_mae: 0.0989
Epoch 33/100
7/7 [==============================] - 1s 99ms/step - loss: 0.5284 - mae: 0.0758 - val_loss: 0.5611 - val_mae: 0.1064
Epoch 34/100
7/7 [==============================] - 1s 107ms/step - loss: 0.5262 - mae: 0.0748 - val_loss: 0.5499 - val_mae: 0.1022
Epoch 35/100
7/7 [==============================] - 1s 99ms/step - loss: 0.5183 - mae: 0.0722 - val_loss: 0.5480 - val_mae: 0.1065
Epoch 36/100
7/7 [==============================] - 1s 99ms/step - loss: 0.5123 - mae: 0.0714 - val_loss: 0.5410 - val_mae: 0.1031
Epoch 37/100
7/7 [==============================] - 1s 107ms/step - loss: 0.5147 - mae: 0.0727 - val_loss: 0.5543 - val_mae: 0.0923
Epoch 38/100
7/7 [==============================] - 1s 99ms/step - loss: 0.5265 - mae: 0.0727 - val_loss: 0.5543 - val_mae: 0.1050
Epoch 39/100
7/7 [==============================] - 1s 118ms/step - loss: 0.5174 - mae: 0.0724 - val_loss: 0.5455 - val_mae: 0.1047
Epoch 40/100
7/7 [==============================] - 1s 97ms/step - loss: 0.5120 - mae: 0.0720 - val_loss: 0.5437 - val_mae: 0.1006
Epoch 41/100
7/7 [==============================] - 1s 93ms/step - loss: 0.5146 - mae: 0.0712 - val_loss: 0.5500 - val_mae: 0.1065
Epoch 42/100
7/7 [==============================] - 1s 102ms/step - loss: 0.5142 - mae: 0.0709 - val_loss: 0.5518 - val_mae: 0.1098
Epoch 43/100
7/7 [==============================] - 1s 94ms/step - loss: 0.5101 - mae: 0.0701 - val_loss: 0.5404 - val_mae: 0.1011
Epoch 44/100
7/7 [==============================] - 1s 107ms/step - loss: 0.5088 - mae: 0.0702 - val_loss: 0.5422 - val_mae: 0.1031
Epoch 45/100
7/7 [==============================] - 1s 89ms/step - loss: 0.5084 - mae: 0.0700 - val_loss: 0.5478 - val_mae: 0.1112
Epoch 46/100
7/7 [==============================] - 1s 109ms/step - loss: 0.5071 - mae: 0.0700 - val_loss: 0.5529 - val_mae: 0.1150
Epoch 47/100
7/7 [==============================] - 1s 106ms/step - loss: 0.5080 - mae: 0.0701 - val_loss: 0.5481 - val_mae: 0.1090
Epoch 48/100
7/7 [==============================] - 1s 136ms/step - loss: 0.5078 - mae: 0.0694 - val_loss: 0.5449 - val_mae: 0.1079
Epoch 49/100
7/7 [==============================] - 1s 102ms/step - loss: 0.5066 - mae: 0.0692 - val_loss: 0.5426 - val_mae: 0.1058
Epoch 50/100
7/7 [==============================] - 1s 99ms/step - loss: 0.5081 - mae: 0.0700 - val_loss: 0.5480 - val_mae: 0.0950
Epoch 51/100
7/7 [==============================] - 1s 112ms/step - loss: 0.5372 - mae: 0.0721 - val_loss: 0.5545 - val_mae: 0.0955
Epoch 52/100
7/7 [==============================] - 1s 117ms/step - loss: 0.5231 - mae: 0.0706 - val_loss: 0.5489 - val_mae: 0.1046
Epoch 53/100
7/7 [==============================] - 1s 92ms/step - loss: 0.5253 - mae: 0.0713 - val_loss: 0.5574 - val_mae: 0.1136
Epoch 54/100
7/7 [==============================] - 1s 105ms/step - loss: 0.5136 - mae: 0.0697 - val_loss: 0.5508 - val_mae: 0.1090
Epoch 55/100
7/7 [==============================] - 1s 127ms/step - loss: 0.5100 - mae: 0.0699 - val_loss: 0.5342 - val_mae: 0.0909
Epoch 56/100
7/7 [==============================] - 1s 117ms/step - loss: 0.5115 - mae: 0.0703 - val_loss: 0.5393 - val_mae: 0.0980
Epoch 57/100
7/7 [==============================] - 1s 112ms/step - loss: 0.5080 - mae: 0.0692 - val_loss: 0.5505 - val_mae: 0.1135
Epoch 58/100
7/7 [==============================] - 1s 125ms/step - loss: 0.5047 - mae: 0.0684 - val_loss: 0.5437 - val_mae: 0.1072
Epoch 59/100
7/7 [==============================] - 1s 89ms/step - loss: 0.5045 - mae: 0.0680 - val_loss: 0.5474 - val_mae: 0.1113
Epoch 60/100
7/7 [==============================] - 1s 112ms/step - loss: 0.5062 - mae: 0.0680 - val_loss: 0.5518 - val_mae: 0.1125
Epoch 61/100
7/7 [==============================] - 1s 112ms/step - loss: 0.5093 - mae: 0.0685 - val_loss: 0.5459 - val_mae: 0.1059
Epoch 62/100
7/7 [==============================] - 1s 128ms/step - loss: 0.5121 - mae: 0.0695 - val_loss: 0.5584 - val_mae: 0.1164
Epoch 63/100
7/7 [==============================] - 1s 113ms/step - loss: 0.5119 - mae: 0.0693 - val_loss: 0.5553 - val_mae: 0.1144
Epoch 64/100
7/7 [==============================] - 1s 114ms/step - loss: 0.5204 - mae: 0.0708 - val_loss: 0.5486 - val_mae: 0.1016
Epoch 65/100
7/7 [==============================] - 1s 117ms/step - loss: 0.5192 - mae: 0.0699 - val_loss: 0.5455 - val_mae: 0.0987
Epoch 66/100
7/7 [==============================] - 1s 104ms/step - loss: 0.5209 - mae: 0.0711 - val_loss: 0.5510 - val_mae: 0.1074
Epoch 67/100
7/7 [==============================] - 1s 112ms/step - loss: 0.5103 - mae: 0.0677 - val_loss: 0.5502 - val_mae: 0.1119
Epoch 68/100
7/7 [==============================] - 1s 118ms/step - loss: 0.5045 - mae: 0.0671 - val_loss: 0.5485 - val_mae: 0.0998
Epoch 69/100
7/7 [==============================] - 1s 138ms/step - loss: 0.5149 - mae: 0.0694 - val_loss: 0.5529 - val_mae: 0.1074
Epoch 70/100
7/7 [==============================] - 1s 112ms/step - loss: 0.5103 - mae: 0.0679 - val_loss: 0.5637 - val_mae: 0.1235
Epoch 71/100
7/7 [==============================] - 1s 107ms/step - loss: 0.5086 - mae: 0.0677 - val_loss: 0.5346 - val_mae: 0.0923
Epoch 72/100
7/7 [==============================] - 1s 100ms/step - loss: 0.5078 - mae: 0.0668 - val_loss: 0.5570 - val_mae: 0.1173
Epoch 73/100
7/7 [==============================] - 1s 104ms/step - loss: 0.5068 - mae: 0.0670 - val_loss: 0.5364 - val_mae: 0.0946
Epoch 74/100
7/7 [==============================] - 1s 98ms/step - loss: 0.5067 - mae: 0.0660 - val_loss: 0.5405 - val_mae: 0.1000
Epoch 75/100
7/7 [==============================] - 1s 106ms/step - loss: 0.5064 - mae: 0.0662 - val_loss: 0.5394 - val_mae: 0.1005
Epoch 76/100
7/7 [==============================] - 1s 120ms/step - loss: 0.5048 - mae: 0.0657 - val_loss: 0.5490 - val_mae: 0.1090
Epoch 77/100
7/7 [==============================] - 1s 112ms/step - loss: 0.5080 - mae: 0.0663 - val_loss: 0.5583 - val_mae: 0.1141
Epoch 78/100
7/7 [==============================] - 1s 100ms/step - loss: 0.5111 - mae: 0.0668 - val_loss: 0.5356 - val_mae: 0.0898
Epoch 79/100
7/7 [==============================] - 1s 95ms/step - loss: 0.5162 - mae: 0.0676 - val_loss: 0.5462 - val_mae: 0.1006
Epoch 80/100
7/7 [==============================] - 1s 93ms/step - loss: 0.5095 - mae: 0.0659 - val_loss: 0.5483 - val_mae: 0.1065
Epoch 81/100
7/7 [==============================] - 1s 114ms/step - loss: 0.5064 - mae: 0.0648 - val_loss: 0.5500 - val_mae: 0.1097
Epoch 82/100
7/7 [==============================] - 1s 104ms/step - loss: 0.5122 - mae: 0.0676 - val_loss: 0.5365 - val_mae: 0.0906
Epoch 83/100
7/7 [==============================] - 1s 93ms/step - loss: 0.5152 - mae: 0.0680 - val_loss: 0.5441 - val_mae: 0.1000
Epoch 84/100
7/7 [==============================] - 1s 130ms/step - loss: 0.5085 - mae: 0.0665 - val_loss: 0.5477 - val_mae: 0.1065
Epoch 85/100
7/7 [==============================] - 1s 112ms/step - loss: 0.5056 - mae: 0.0654 - val_loss: 0.5479 - val_mae: 0.1074
Epoch 86/100
7/7 [==============================] - 1s 96ms/step - loss: 0.5058 - mae: 0.0650 - val_loss: 0.5528 - val_mae: 0.1122
Epoch 87/100
7/7 [==============================] - 1s 119ms/step - loss: 0.5084 - mae: 0.0664 - val_loss: 0.5493 - val_mae: 0.1012
Epoch 88/100
7/7 [==============================] - 1s 107ms/step - loss: 0.5130 - mae: 0.0667 - val_loss: 0.5522 - val_mae: 0.1082
Epoch 89/100
7/7 [==============================] - 1s 122ms/step - loss: 0.5081 - mae: 0.0656 - val_loss: 0.5335 - val_mae: 0.0925
Epoch 90/100
7/7 [==============================] - 1s 127ms/step - loss: 0.5071 - mae: 0.0652 - val_loss: 0.5766 - val_mae: 0.1338
Epoch 91/100
7/7 [==============================] - 1s 127ms/step - loss: 0.5118 - mae: 0.0664 - val_loss: 0.5339 - val_mae: 0.0911
Epoch 92/100
7/7 [==============================] - 1s 108ms/step - loss: 0.5075 - mae: 0.0645 - val_loss: 0.5332 - val_mae: 0.0903
Epoch 93/100
7/7 [==============================] - 1s 113ms/step - loss: 0.5053 - mae: 0.0639 - val_loss: 0.5618 - val_mae: 0.1191
Epoch 94/100
7/7 [==============================] - 1s 110ms/step - loss: 0.5081 - mae: 0.0652 - val_loss: 0.5623 - val_mae: 0.1186
Epoch 95/100
7/7 [==============================] - 1s 104ms/step - loss: 0.5084 - mae: 0.0653 - val_loss: 0.5704 - val_mae: 0.1290
Epoch 96/100
7/7 [==============================] - 1s 108ms/step - loss: 0.5085 - mae: 0.0655 - val_loss: 0.5455 - val_mae: 0.1038
Epoch 97/100
7/7 [==============================] - 1s 104ms/step - loss: 0.5053 - mae: 0.0644 - val_loss: 0.5324 - val_mae: 0.0896
Epoch 98/100
7/7 [==============================] - 1s 125ms/step - loss: 0.5053 - mae: 0.0644 - val_loss: 0.5324 - val_mae: 0.0906
Epoch 99/100
7/7 [==============================] - 1s 105ms/step - loss: 0.5052 - mae: 0.0644 - val_loss: 0.5577 - val_mae: 0.1160
Epoch 100/100
7/7 [==============================] - 1s 110ms/step - loss: 0.5048 - mae: 0.0636 - val_loss: 0.5540 - val_mae: 0.1130

In [18]:
x_test_pred = scaled_validation_samples[-n_past:,:].reshape((1, n_past, n_features))
print(x_test_pred.shape)
scaled_y_predict = model.predict(x_test_pred)

(1, 4, 1782)

1/1 [==============================] - 1s 1s/step

In [19]:
y_predict = pd.DataFrame(minmax_scaler.inverse_transform(scaled_y_predict.reshape((n_future, n_features))),
                         columns=valid_samples_df.columns)
## each element corresponding to raw value at a specific ID no on pivoted test table 
y_predict

store_nbr         1                                                         \
family           0         1         2            3         4           5
0          2.402363  0.003149  2.049111  1425.526123 -0.077376  334.938049
1          2.282636 -0.000306  1.923995  1379.147461 -0.016480  328.866058
2          2.364152 -0.003458  1.852795  1402.723999  0.037596  334.825043
3          2.647516 -0.004591  2.018810  1483.211060  0.054529  349.573761

store_nbr                                                ...         9  \
family           6           7           8           9   ...        23
0          6.919719  648.086487  603.190491  126.445229  ...  0.802300
1          3.686648  645.773071  592.742065  124.111061  ...  0.581486
2          2.023916  658.184570  611.919312  123.809433  ...  0.345969
3          0.232080  668.985107  640.926331  126.707153  ...  0.310892

store_nbr                                                                     \
family             24          25        26        27          28         29
0          371.124451  430.437836  2.070104  3.961807  489.815521  87.185738
1          364.809204  434.736542  1.895433  4.260206  499.686249  82.527252
2          364.772064  429.139740  1.840659  4.790350  509.458282  77.443848
3          371.129578  418.727631  1.955137  5.204344  510.693634  75.006157

store_nbr
family             30        31         32
0          657.322632  1.521196  15.491496
1          679.169495  1.535244  15.817953
2          768.065369  1.959766  15.803307
3          802.994568  2.070748  14.868309

[4 rows x 1782 columns]

In [20]:
pivoted_test = test_data.pivot(index=['date'], columns=['store_nbr', 'family'])
pivoted_test ## format store_nbr, family, date and each value/element corresponding to the sample indices

                 id                                                        \
store_nbr         1
family           0        1        2        3        4        5        6
date
2017-08-16  3000888  3000889  3000890  3000891  3000892  3000893  3000894
2017-08-17  3002670  3002671  3002672  3002673  3002674  3002675  3002676
2017-08-18  3004452  3004453  3004454  3004455  3004456  3004457  3004458
2017-08-19  3006234  3006235  3006236  3006237  3006238  3006239  3006240
2017-08-20  3008016  3008017  3008018  3008019  3008020  3008021  3008022
2017-08-21  3009798  3009799  3009800  3009801  3009802  3009803  3009804
2017-08-22  3011580  3011581  3011582  3011583  3011584  3011585  3011586
2017-08-23  3013362  3013363  3013364  3013365  3013366  3013367  3013368
2017-08-24  3015144  3015145  3015146  3015147  3015148  3015149  3015150
2017-08-25  3016926  3016927  3016928  3016929  3016930  3016931  3016932
2017-08-26  3018708  3018709  3018710  3018711  3018712  3018713  3018714
2017-08-27  3020490  3020491  3020492  3020493  3020494  3020495  3020496
2017-08-28  3022272  3022273  3022274  3022275  3022276  3022277  3022278
2017-08-29  3024054  3024055  3024056  3024057  3024058  3024059  3024060
2017-08-30  3025836  3025837  3025838  3025839  3025840  3025841  3025842
2017-08-31  3027618  3027619  3027620  3027621  3027622  3027623  3027624

                                       ...                             \
store_nbr                              ...        9
family           7        8        9   ...       23       24       25
date                                   ...
2017-08-16  3000895  3000896  3000897  ...  3002660  3002661  3002662
2017-08-17  3002677  3002678  3002679  ...  3004442  3004443  3004444
2017-08-18  3004459  3004460  3004461  ...  3006224  3006225  3006226
2017-08-19  3006241  3006242  3006243  ...  3008006  3008007  3008008
2017-08-20  3008023  3008024  3008025  ...  3009788  3009789  3009790
2017-08-21  3009805  3009806  3009807  ...  3011570  3011571  3011572
2017-08-22  3011587  3011588  3011589  ...  3013352  3013353  3013354
2017-08-23  3013369  3013370  3013371  ...  3015134  3015135  3015136
2017-08-24  3015151  3015152  3015153  ...  3016916  3016917  3016918
2017-08-25  3016933  3016934  3016935  ...  3018698  3018699  3018700
2017-08-26  3018715  3018716  3018717  ...  3020480  3020481  3020482
2017-08-27  3020497  3020498  3020499  ...  3022262  3022263  3022264
2017-08-28  3022279  3022280  3022281  ...  3024044  3024045  3024046
2017-08-29  3024061  3024062  3024063  ...  3025826  3025827  3025828
2017-08-30  3025843  3025844  3025845  ...  3027608  3027609  3027610
2017-08-31  3027625  3027626  3027627  ...  3029390  3029391  3029392


store_nbr
family           26       27       28       29       30       31       32
date
2017-08-16  3002663  3002664  3002665  3002666  3002667  3002668  3002669
2017-08-17  3004445  3004446  3004447  3004448  3004449  3004450  3004451
2017-08-18  3006227  3006228  3006229  3006230  3006231  3006232  3006233
2017-08-19  3008009  3008010  3008011  3008012  3008013  3008014  3008015
2017-08-20  3009791  3009792  3009793  3009794  3009795  3009796  3009797
2017-08-21  3011573  3011574  3011575  3011576  3011577  3011578  3011579
2017-08-22  3013355  3013356  3013357  3013358  3013359  3013360  3013361
2017-08-23  3015137  3015138  3015139  3015140  3015141  3015142  3015143
2017-08-24  3016919  3016920  3016921  3016922  3016923  3016924  3016925
2017-08-25  3018701  3018702  3018703  3018704  3018705  3018706  3018707
2017-08-26  3020483  3020484  3020485  3020486  3020487  3020488  3020489
2017-08-27  3022265  3022266  3022267  3022268  3022269  3022270  3022271
2017-08-28  3024047  3024048  3024049  3024050  3024051  3024052  3024053
2017-08-29  3025829  3025830  3025831  3025832  3025833  3025834  3025835
2017-08-30  3027611  3027612  3027613  3027614  3027615  3027616  3027617
2017-08-31  3029393  3029394  3029395  3029396  3029397  3029398  3029399

[16 rows x 1782 columns]

In [21]:
#submission = pd.read_csv(r'C:\Users\sahithi aharam\Downloads\sample_submission.csv', index_col='id')
#submission.shape

In [22]:
## mapping ypredict to pivoted test data
#for day_ith, day_ith_pred in y_predict.iterrows():
    #for n_samples_per_day in range(len(day_ith_pred)): ## iterating the number of sample, from 0 to 1781, for 16 days
        #sample_id = pivoted_test.iloc[[day_ith], [n_samples_per_day]].values[0][0] #total number of samples
        #values= max(0,day_ith_pred.values[n_samples_per_day]) #price that is negative will be set to 0
        #submission.at[sample_id, 'sales'] = values

In [23]:
#submission

In [24]:
#model.save('model.h5')

In [25]:
#from keras.models import load_model

In [26]:
#loaded_model = load_model('model.h5')

In [27]:
#loaded_model.summary()

In [28]:
y_predict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Columns: 1782 entries, (1, 0) to (9, 32)
dtypes: float32(1782)
memory usage: 28.0 KB

In [29]:
import pandas as pd

submission = pd.read_csv(r'C:\Users\sahithi aharam\Downloads\sample_submission.csv')

def predict_sales_for_date_and_product(model, date, product_id):
    num_samples_per_day = 1781  # Replace with the actual number of samples per day
    return [i * product_id for i in range(num_samples_per_day)]

# Placeholder function for demonstration, replace with your actual logic
def calculate_sample_id(date, product_id, n_samples_per_day):
    return f"{date.strftime('%Y-%m-%d')}_{product_id}_{n_samples_per_day}"

# Assuming user provides input for date, product ID, and n_samples_per_day with error handling
while True:
    input_date = input("Enter the date (YYYY-MM-DD): ")
    try:
        date_to_predict = pd.to_datetime(input_date)
        break  # Exit the loop if the date is successfully parsed
    except ValueError:
        print("Invalid date format. Please enter the date in the format YYYY-MM-DD.")

product_id = int(input("Enter the product ID: "))
n_samples_per_day = int(input("Enter the number of samples per day: "))

# Predict the value for the specified date and product ID
predicted_value = predict_sales_for_date_and_product(model, date_to_predict, product_id)[n_samples_per_day]

# Update submission DataFrame with the single predicted value
sample_id = calculate_sample_id(date_to_predict, product_id, n_samples_per_day)
submission.at[sample_id, 'sales'] = predicted_value

# Display only the updated value without index and column name
result_str = submission.loc[[sample_id], 'sales'].to_string(index=False, header=False)
print(result_str)

882.0

In [30]:
model.save('model.h5')

In [31]:
from keras.models import load_model

In [32]:
loaded_model = load_model('model.h5')

In [33]:
loaded_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 simple_rnn (SimpleRNN)      (None, 4, 200)            396600

 batch_normalization (BatchN  (None, 4, 200)           800
 ormalization)

 dropout (Dropout)           (None, 4, 200)            0

 simple_rnn_1 (SimpleRNN)    (None, 4, 200)            80200

 batch_normalization_1 (Batc  (None, 4, 200)           800
 hNormalization)

 dropout_1 (Dropout)         (None, 4, 200)            0

 time_distributed (TimeDistr  (None, 4, 1782)          358182
 ibuted)

=================================================================
Total params: 836,582
Trainable params: 835,782
Non-trainable params: 800
_________________________________________________________________